.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item__info-name {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--rose-900);
}

.cart-item__quantity {
  display: flex;
  gap: 0.5rem;
}

.cart-item__quantity-amount {
  font-size: 0.875rem;
  color: var(--red);
  font-weight: 700;
}

.cart-item__quantity-price {
  font-size: 0.875rem;
  color: var(--rose-500);
}

.cart-item__total-price {
  font-size: 0.875rem;
  color: var(--rose-500);
  font-weight: 700;
}

.cart-item__remove {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--rose-400);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host(:last-child) hr {
  display: none;
}

:host(:last-child) .cart-item {
  margin-bottom: 0;
}
