.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item__quantity {
  display: flex;
  gap: 0.5rem;
}

.cart-item__remove {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--rose-400);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
