@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/static/RedHatText-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/static/RedHatText-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/static/RedHatText-Bold.woff2') format('woff2');
}

:root {
  --red: #c73b0f;
  --rose-900: #260f08;
  --rose-500: #87635a;
  --rose-400: #ad8a85;
  --rose-300: #caafa7;
  --rose-100: #f5eeec;
  --rose-50: #fcf8f6;
  --green: #1ea575;
  --black: #000000;
  --white: #ffffff;
  --text-preset-1: 2.5rem;
  --text-preset-2: 1.5rem;
  --text-preset-3: 1rem;
  --text-preset-4: 0.875rem;
}

body {
  font-family: 'Red Hat Text';
  min-height: 100dvh;
  margin: 0;
  padding: 1.5rem;
  line-height: 1.5;
  background-color: var(--rose-50);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
